body {
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #5b5d5e;
    text-align: center;
    background-image: radial-gradient(circle,#494747,#0c0c0b);
  }

h1 {
    font-size: 50px;
    font-style: oblique;
    font-family: serif;
    color: #1b1b1b;
}

p {
    font-size: 20px;
    font-style: oblique;
    font-family: serif;
    color: #1b1b1b;
}

.minibox {
    width: 20%;
    padding-bottom:1%;
    padding-top: .5%;
    border: 3px;
}

.megabox {
    width: 60%;
    padding-bottom: 2%;
    padding-top: .5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 2px;
    background-image: radial-gradient(circle,antiquewhite,#ecece2);
}

.d {
    font-size: 22px;
    font-style: oblique;
    font-family: serif;
    color: #dfdfdf;
    text-align: right;
    margin-right: 1%;
}

.name
{
    font-size: 26px;
    color: #cdceda;
}

.textpadding {
    padding-left: 5%;
    padding-right: 5%;
}

.ingList {
    text-align: left;
    font-size: 20px;
    font-style: oblique;
    font-family: serif;
    color: #1b1b1b;
}
.ing {
    text-align: center;
    font-size: 35px;
    font-style: oblique;
    font-family: serif;
    color: #1b1b1b;
}



    
    